.list{
	width:100%;
	height: 54px;
	border-bottom: 1px solid gainsboro;
	background-color: #fff;
	text-align: center;
}

.list_font{
	width:90%;
	height:30px;
	line-height: 30px;
	font-size: 12px;
}

.list_left{
	width:70%;
	float:left;
	
}

.list_right{
	width:30%;
	float:left;
}

.list_title{
	padding:4px;
	font-size: 14px;
	text-align: left;
}

.list_content{
	color:gray;
	font-size: 12px;
	text-align: left;
}
