html,body {
	background-color: #efeff4;
	min-width: 320px;
	max-width: 640px;
	margin:0 auto;
			}
			
.clear{ clear: both;}
.nav_top_left{
	width:25%;
	height:44px;
	background-color: #56abe4;
	text-align: center;
	line-height: 44px;
	color: #fff;
	font-size: 16px;
	float: left;
}
.mui-bar{
	padding: 0;
}

.wte{
	float:left;
	width:65%;
	height:40px;
}

.wte .wt{
	border:0;
	
}


.search{
	width:10%;
	height: 44px;
	background-color: gainsboro;
	float: left;
	text-align: center;
	line-height: 44px;
}

.s_img{
	width:90%;
	height: 31px;
	margin-top:11%;
	margin-left:8%;
}

.od_num{
	color:red;
}

.mui-table-view-cell>a:not(.mui-btn){
	color:#56abe4;
	font-weight: 600;
}

.od_a{
	height:70px;
	border-bottom: 1px solid #ccc;
}
.od_b{
	margin:0 auto;
}

.od_c{
	margin: 10px 0;
    height: 50px;
}

.od_list1{
	float: left;
	width:70%;
	color: gray;
}

.od_qi{
	color:black;
	font-weight: 500;
	font-size: 14px;
	float: left;
}

.od_list1 dt:first-child span:last-child{
	/*margin-left:10px;*/
}

.od_list1 dt:last-child span:first-child{
	background-image: url(../wimages/idc.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 24px;
    height: 30px;
    background-position: center;
    display: block;
}

.od_list1 dt:last-child span {
    float: left;
}

.od_list1 dt:last-child span:nth-child(2) {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-left: 2px;
}

.od_list1 dt:last-child span:nth-child(3) {
    background-color: red;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    margin-left: 8px;
    margin-top: 2px;
}

.od_listr {
    width: 30%;
    float: right;
    margin-top: 9px;
}

.od_listr dt {
    height: 36px;
    width: 90%;
    border-radius: 8px;
    text-align: center;
    line-height: 36px;
}

.choose{
    background: #56abe4;
    color: #fff;
}

.end_cp{
	background: gray;
    color: #fff;
}

.dj{
	background-image: url(../wimages/dj.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 24px;
    height: 22px;
    background-position: center;
    display: block;
    margin: 0 auto;
    margin-top: 3px;
}

.dj_font{
	font-size: 11px;
	color:#56abe4;
}


.index{
	background-image: url(../wimages/index.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 24px;
    height: 22px;
    background-position: center;
    display: block;
    margin: 0 auto;
    margin-top: 3px;
}

.index_font{
	font-size: 11px;
	color:#56abe4;
}


.s_jd{
	background-color:gray;
}

.dj_order{
	display: none;
}