.clear{
	clear:both;
}
.mui-bar dt {
    line-height: 34px;
    height: 34px;
    text-align: center;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.active_r {
    background: red;
    color: #fff;
}

.main_top{
	width:100%;
	height:200px;
	border:1px solid #56abe4;
}

.m_top1{
	width:100%;
	height:80%;
	background-color: #56abe4;
	text-align: center;
	
}

.wx_name{
	font-size: 14px;
	color:#fff;
}

.tx{
	width:100%;
	height: 80px;
	padding: 38px;
}

.m_top2{
	width:100%;
	text-align: center;
}

.mt2_font{
	font-size: 14px;
	padding:8px;
}

.main_mid{
	width:100%;
	height:100px;
	/*border: 1px solid red;*/
}

.n_pic{
	text-align: center;
	width:20%;
	padding:10px;
	float:left;
	margin-left:3%;
	
}

.n_title{
	font-size: 14px;
	min-width: 56px;
}

.list{
	width:100%;
	border:1px solid lightgray;
	height:55px;
}

.list_left{
	width:70%;
	height:55px;
	float:left;
}

.left_img{
	float:left;
	padding: 12px;
	
}

.left_font{
	float:left;
	font-size: 14px;
	color:gray;
	margin-top: 16px;
}

.list_right{
	width:30%;
	height:55px;
	float:left;
	
}

.no_ready{
	width:60%;
	height:30px;
	background-color: red;
	text-align: center;
	line-height: 30px;
	float:left;
	font-size: 14px;
	color:#fff;
	margin-top: 10px;
    border-radius: 6px;
}

.jt{
	float:right;
	margin-top: 10px;
}

.no_ready{
	display: none;
}
